.anchorpane{
    -fx-background-image: url(/main/picture/background_welcome.jpg);
}
.image{
    -fx-image: url(/main/picture/new_airplane.png);
    -fx-opacity: 0.4;
}
.startButton{
    -fx-background-color: white;
    -fx-background-radius: 100px;
}
