.anchorpane{
    -fx-background-image: url(/main/picture/background_welcome.jpg);
}
.image{
    -fx-image: url(/main/picture/logo.png);
    -fx-opacity: 0.4;
}
.startButton{
    -fx-background-color: white;
    -fx-background-radius: 100px;

}
.startButton:hover {
    -fx-background-color: derive(#3a3a3a,100%);
}
