.time_table{
    -fx-background-color: black;
    -fx-text-fill: white;
}
.anchorpane{
    -fx-background-color: black;

}
.playbutton{
    -fx-background-radius: 100px;
}
.silent_button{
    -fx-background-radius: 100px;
}
.exit_button{
    -fx-background-radius: 100px;

}