.anchorpane{
    -fx-background-image: url(/main/appearance/picture/background_welcome.jpg);
}
.image{
    -fx-image: url(/main/appearance/picture/logo.png);
    -fx-opacity: 0.9;
}
.startButton{
    -fx-background-color: white;
    -fx-background-radius: 100px;

}
.radio-button{
    -fx-text-fill: white;
}
.startButton:hover {
    -fx-background-color: derive(#b92228,100%);
}
